<!-- The Question Portion will eventually be a *ngFor that populates inside of the quesiton/answer format outlined below-->
<!---->

<div *ngIf="router.url == '/quizpage/1'">
 <form #quiz1Form="ngForm" name="quiz1" (ngSubmit)="onSubmit(quiz1Form.value)">
  <mat-card>                        
                <ul *ngFor="let questionData of quiz['questions']; let y = index" class="question" ngModelGroup="checkGroup"  > 
                    <h3>Question {{y + 1}}: {{ questionData['question' + ( y+1 )]}}</h3>
                       
                            <div *ngFor="let answerData of questionData.answers; let z = index;" >

                                <mat-radio-group>      
                                    <mat-radio-button name="radio" [value]="answerData['answer' + ( z+1 )]" >{{ answerData['answer' + ( z+1 )] }}</mat-radio-button>  <br>
                                </mat-radio-group>  

                            </div>     
                </ul>
                                         
        <!--routerLink='/singleresultpage/1' -->
        <button type="submit" routerLink='/singleresultpage/1'  mat-raised-button>SUBMIT</button>
    </mat-card>
 </form>
</div>


<div *ngIf="router.url == '/quizpage/2'  ">
    <form #quiz1Form="ngForm" name="quiz2" (ngSubmit)="onSubmit(quiz2Form.value)">
  <mat-card>                        
                <ul *ngFor="let questionData of quiz['questions']; let y = index" class="question" ngModelGroup="checkGroup"  > 
                    <h3>Question {{y + 1}}: {{ questionData['question' + ( y+1 )]}}</h3>
                       
                            <div *ngFor="let answerData of questionData.answers; let z = index;" >

                                <mat-radio-group>      
                                    <mat-radio-button name="radio" [value]="answerData['answer' + ( z+1 )]" >{{ answerData['answer' + ( z+1 )] }}</mat-radio-button>  <br>
                                </mat-radio-group>  

                            </div>     
                </ul>
                                         
        <!--routerLink='/singleresultpage/1' -->
        <button type="submit" routerLink='/singleresultpage/2'   mat-raised-button>SUBMIT</button>
    </mat-card>
 </form>
</div>
   

   <div *ngIf="router.url == '/quizpage/3'">
    <form #quiz1Form="ngForm" name="quiz3" (ngSubmit)="onSubmit(quiz3Form.value)">
            <mat-card>                        
                    <ul *ngFor="let questionData of quiz['questions']; let y = index" class="question" ngModelGroup="checkGroup"  > 
                        <h3>Question {{y + 1}}: {{ questionData['question' + ( y+1 )]}}</h3>
                           
                                <div *ngFor="let answerData of questionData.answers; let z = index;" >
    
                                    <mat-radio-group>      
                                        <mat-radio-button name="radio" [value]="answerData['answer' + ( z+1 )]" >{{ answerData['answer' + ( z+1 )] }}</mat-radio-button>  <br>
                                    </mat-radio-group>  
    
                                </div>     
                    </ul>
                                             
            <!--routerLink='/singleresultpage/1' -->
            <button type="submit" routerLink='/singleresultpage/3'   mat-raised-button>SUBMIT</button>
        </mat-card>
     </form>
    </div>