<!-- The Question Portion will eventually be a *ngFor that populates inside of the quesiton/answer format outlined below-->


<div *ngIf="router.url == '/quizpage/1'">
 <form #quiz1Form (ngSubmit)="onSubmit(quiz1Form.value)">
  <mat-card>      
      <div *ngFor="let data of questions">
            <h2>{{ data.quiz }}</h2>
                <ul>
                    <h3>{{ data.question }}</h3> 
                        <div *ngFor="let answer of data.answers" ngModelGroup="checkGroup">
                            <mat-radio-group>       
                                <mat-radio-button [value]="1" ngModel>{{ answer.answer1 }}</mat-radio-button>  <br>
                                <mat-radio-button [value]="2" ngModel>{{ answer.answer2 }}</mat-radio-button>  <br>
                                <mat-radio-button [value]="3" ngModel>{{ answer.answer3 }}</mat-radio-button>  <br>
                                <mat-radio-button [value]="4" ngModel>{{ answer.answer4 }}</mat-radio-button>  <br>
                            </mat-radio-group> 
                        </div>       
                </ul>
                                         
      </div>
      <button routerLink='/singleresultpage/1' mat-raised-button>SUBMIT</button>
  </mat-card>
 </form>
</div>

<div *ngIf="router.url == '/quizpage/2'">
  <mat-card>
      <ul>
        <h3>Question 1</h3>        
            <mat-radio-button >Answer 1</mat-radio-button>  <br>
            <mat-radio-button >Answer 2</mat-radio-button>  <br>
            <mat-radio-button >Answer 3</mat-radio-button>  <br>
            <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 2</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 3</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 4</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 5</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 6</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 7</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 8</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 9</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 10</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <button mat-raised-button>SUBMIT</button>    
    </mat-card>

</div>

<div *ngIf="router.url == '/quizpage/3'">
  <mat-card>
      <ul>
        <h3>Question 1</h3>        
            <mat-radio-button >Answer 1</mat-radio-button>  <br>
            <mat-radio-button >Answer 2</mat-radio-button>  <br>
            <mat-radio-button >Answer 3</mat-radio-button>  <br>
            <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 2</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 3</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 4</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 5</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 6</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 7</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 8</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 9</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <ul>
          <h3>Question 10</h3>        
              <mat-radio-button >Answer 1</mat-radio-button>  <br>
              <mat-radio-button >Answer 2</mat-radio-button>  <br>
              <mat-radio-button >Answer 3</mat-radio-button>  <br>
              <mat-radio-button >Answer 4</mat-radio-button>       
      </ul>
      <button mat-raised-button>SUBMIT</button>    
    </mat-card>

</div>

