<div *ngIf="router.url == '/presentation/1'">
  <mat-card>
  
    <h2>Show Presentation 1</h2>
    <div *ngFor="let slide of presentation1">
      <img [src]="slide.slide">
    </div>
      <button mat-raised-button>Next Slide</button>
      <button mat-raised-button>Previous Slide</button>
      <button routerLink='/quizpage1' mat-raised-button>Take the Quiz!</button>

  </mat-card>
</div>

<div *ngIf="router.url == '/presentation/2'">

  <mat-card>
  <h2>Show Presentation 2</h2>

    <div *ngFor="let slide of presentation2">
      <img [src]="slide.slide">
    </div>
    <button mat-raised-button>Next Slide</button>
    <button mat-raised-button>Previous Slide</button>
    <button routerLink='/quizpage2' mat-raised-button>Take the Quiz!</button>
  </mat-card>

</div>


<div *ngIf="router.url == '/presentation/3'">
  <mat-card>
  <h2>Show Presentation 3</h2>

  <div *ngFor="let slide of presentation3">
      <img [src]="slide.slide">
    </div>
    <button mat-raised-button>Next Slide</button>
    <button mat-raised-button>Previous Slide</button>
    <button routerLink='/quizpage3' mat-raised-button>Take the Quiz!</button>

  </mat-card>

</div>